<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>
		<% if (view === 'result') { if (isValid) { %>[Valid] <% } else { %>[Invalid] <% } } %>
		Cache Manifest Validator
	</title>

	<meta name="description" content="Validate your HTML5 Appcache online: Cache Manifest Validator for web application offline storage." />
	<meta name="keywords"    content="cache, manifest, cache manifest, application cache, validation, offline, html5" />
	<meta name="author"      content="Frederic Hemberger" />
	<meta name="robots"      content="index, follow" />

	<% if (view === 'index') { %>
		<link rel="icon" href="/favicon.ico" />
	<% } %>
	<% if (view === 'result') { %>
		<% if (isValid) { %>
			<link rel="icon" href="data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%00%10%00%00%00%10%08%02%00%00%00%90%91h6%00%00%00%19IDAT(%91c%0C%DD%10%C5%40%0A%60%22I%F5%A8%86Q%0DCJ%03%00dy%01%7F%0C%9F0%7D%00%00%00%00IEND%AEB%60%82" type="image/png" />
		<% } else { %>
			<link rel="icon" href="data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%00%10%00%00%00%10%08%02%00%00%00%90%91h6%00%00%00%19IDAT(%91c%BCd%AB%C2%40%0A%60%22I%F5%A8%86Q%0DCJ%03%00%DE%B5%01S%07%88%8FG%00%00%00%00IEND%AEB%60%82" type="image/png" />
		<% } %>
	<% } %>

	<link rel="stylesheet" href="/validator.css" />
</head>
<body>
	<h1>
		<a href="/">Cache Manifest Validator</a>
		<span>Check your appcache for offline storage</span>
	</h1>
	<a href="http://github.com/fhemberger/manifest-validator"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://assets1.github.com/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf?repo=&amp;url=http%3A%2F%2Fs3.amazonaws.com%2Fgithub%2Fribbons%2Fforkme_right_red_aa0000.png" width="149" height="149" alt="Fork me on GitHub"></a>

	<% if (view === 'index') { %>
	<ul id="tab-header">
		<li class="active"><a href="#validate-by-uri"><span>Validate by</span> URI</a></li>
		<li><a href="#validate-by-upload"><span>Validate by</span> File Upload</a></li>
		<li><a href="#validate-by-direct-input"><span>Validate by</span> Direct Input</a></li>
	</ul>
	<div id="tab-content">
		<fieldset id="validate-by-uri">
			<h2>Validate by URI</h2>
			<p>Validate a document online:</p>
			<form action="/validate" method="post">
				<label title="Address of manifest to validate" for="uri">Address:
					<input type="text" name="uri" id="uri" size="45" />
				</label>
				<input type="submit" value="Check" />
			</form>
		</fieldset>

		<fieldset id="validate-by-upload">
			<h2>Validate by File Upload</h2>
			<p>Upload a document for validation:</p>
			<form action="/validate" enctype="multipart/form-data" method="post">
				<label title="Choose a local file to upload and validate" for="file">File:
					<input type="file" id="file" size="30" name="file" />
				</label>
				<input type="submit" value="Check" />
			</form>
		</fieldset>

		<fieldset id="validate-by-direct-input">
			<h2>Validate by Direct Input</h2>
			<p title="Paste a complete cache manifest here">Enter the manifest to validate:</p>
			<form action="/validate" method="post">
				<textarea id="text" name="content" rows="12" cols="70"></textarea>
				<input type="submit" value="Check" />
			</form>
		</fieldset>
	</div>

	<div id="description">
		<div class="left">
			<h3>Check cache manifest files for web application offline storage</h3>
			<p>The most complete method is to upload the manifest file to your server and validate it by URI. This will also check the availability of all resources listed in your manifest – if even one of them fails to download properly, the entire process of caching your offline web application will fail.</p>
			<p>To learn more about offline web applications and cache manifest files, check the following resources:</p>
			<ul>
				<li><a href="http://diveintohtml5.org/offline.html">Let's Take This Offline</a></li>
				<li><a href="http://appcachefacts.info/">Appcache Facts</a></li>
				<li><a href="http://developer.mozilla.org/En/Offline_resources_in_Firefox#The_cache_manifest">MDN: Offline resources in Firefox</a></li>
				<li><a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/offline.html#offline">WHATWG Specification</a></li>
			</ul>
			<!--include:twitter-->
		</div>
		<div class="right">
<!--
			<h3>API</h3>
			<p>This validation service can also be used by external tools. Either provide an URI to your manifest or the file's content as a string. The API either returns a JSON string or a JavaScript function for <a href="http://en.wikipedia.org/wiki/JSON#JSONP">JSONP</a>, when you provide the optional callback parameter.</p>
			<h4>Examples:</h4>
		
			<pre><code>http://manifest-validator.com/api/validate?uri=<span>http://www.example.com/cache.manifest</span></code></pre>
			<p><code>=> {"isValid": false, "errors": [&hellip;], "resources": [&hellip;]}</code></p>
		
			<pre><code>http://manifest-validator.com/api/validate?content=<span>INVALID%20CACHE%20MANIFEST</span>&amp;callback=<span>myFunction</span></code></pre>
			<p><code>=> myFunction({"isValid": false, "errors": [&hellip;], "resources": [&hellip;]})</code></p>
-->

			<h3>Textmate Bundle</h3>
			<p>I've also created a TextMate bundle with a default manifest template and a connection to this validation service. It is available at <a href="https://github.com/fhemberger/CacheManifest.tmbundle/">GitHub</a> and can also be <a href="https://github.com/fhemberger/CacheManifest.tmbundle/zipball/master">downloaded directly</a>.</p>
		</div>
	</div>

	<script src="http://code.jquery.com/jquery.min.js"></script>
	<script type="text/javascript">
		function showTab(tabId) {
			var tabHeader  = document.getElementById('tab-header').getElementsByTagName('li');
			var tabContent = document.getElementById('tab-content').getElementsByTagName('fieldset');

			for (var i=0,len=tabContent.length; i<len; i++) {
				if (tabContent[i].id == tabId) {
					tabHeader[i].className      = 'active';
					tabContent[i].style.display = 'block';
				} else {
					tabHeader[i].className      = '';
					tabContent[i].style.display = 'none';
				}
			}
		}

		$(function(){
			$('#tab-header').click(function(e) {
				if (e.target.tagName === 'A') { showTab( e.target.hash.substr(1) ); }
				if (e.target.tagName === 'SPAN') { showTab( e.target.parentNode.hash.substr(1) ); }
				e.preventDefault();
			});
			$('form').submit(function(e) {
				if ( $('input:first-child, textarea:first-child', this).val() === '' ) { e.preventDefault(); }
			});
			showTab('validate-by-uri');
		});
	</script>
	<% } %>

	<% if (view === 'result') { %>
		<% if (isValid) { %>
			<h2 class="result valid">This document was successfully checked</h2>
			<a href="/" class="home">Return to Homepage</a>
		<% } else { %>
			<h2 class="result invalid">Error found while checking this document</h2>
			
			<% if (errors) { %>
				<h3>Validation Results:</h3>
				<% if (typeof errors === 'string') { %>
					<p><%= lang[errors] %></p>
				<% } else { %>
					<ul>
						<% for (e in errors) { %>
							<% if (errors.hasOwnProperty(e)) { %>
							<li>
								Line <%= parseInt(e,10)+1 %>: <strong><%= lang[errors[e].error] %></strong><br />
								<% if (errors[e].content) { %><pre><code><%= errors[e].content %></code></pre><% } %>
							</li>
							<% } %>
						<% } %>
					</ul>
				<% } %>	
			<% } %>

			<% if (resources && resources.length !==0) { %>
			<h3>Resource Check Results:</h3>
			<ul>
				<% for (r in resources) { %>
					<% if (resources.hasOwnProperty(r)) { %>
					<li>
						Line <%= parseInt(r,10)+1 %>: <strong>Resource not found</strong><br />
						<pre><code><%= resources[r] %></code></pre>
					</li>
					<% } %>
				<% } %>
			</ul>
			<% } %>
			
			<a href="/" class="home">Return to Homepage</a>
		<% } %>
	<% } %>

	<div id="footer">
		Cache Manifest Validator by <a href="http://frederic-hemberger.de">Frederic Hemberger</a>. Powered by <a href="http://nodejs.org/">Node.js</a>, running on <a href="http://uberspace.de/">Uberspace</a>.<br />
		Licenced under the <a href="http://www.opensource.org/licenses/mit-license">MIT License</a>, source code available at <a href="https://github.com/fhemberger/manifest-validator/">GitHub</a>.
	</div>

	<!--include:analytics-->
</body>
</html>
