extends layout

block content
  ul#tab-header(role="tablist")
    li(role="tab",class="active")
      a(href="#validate-by-uri", accesskey="u")
        span Validate by
        |  URI
    li(role="tab")
      a(href="#validate-by-upload", accesskey="f")
        span Validate by
        |  File Upload
    li(role="tab")
      a(href="#validate-by-direct-input", , accesskey="d")
        span Validate by
        |  Direct Input


  #tab-content(role="tabpanel")
    fieldset#validate-by-uri
      h2 Validate by URI
      p Validate a document online:
      form(action="/validate", method="post")
        input(type="hidden", name="crumb", value="#{crumb}")
        label(title="Address of manifest to validate", for="uri") Address:
        input(type="url", name="uri", id="uri", size="45", placeholder="http://www.example.com/manifest.appcache", required)
        input(type="submit", value="Check")

    fieldset#validate-by-upload
      h2 Validate by File Upload
      p Upload a document for validation:
      form(action="/validate", enctype="multipart/form-data", method="post")
        input(type="hidden", name="crumb", value="#{crumb}")
        label(title="Choose a local file to upload and validate", for="upload") File:
        input(type="file", name="upload", id="upload", required)
        input(type="submit", value="Check")

    fieldset#validate-by-direct-input
      h2 Validate by Direct Input
      p(title="Paste a complete cache manifest here") Enter the manifest to validate:
      form(action="/validate", method="post")
        input(type="hidden", name="crumb", value="#{crumb}")
        textarea(id="text", name="directinput", rows="12", cols="70", required)
        input(type="submit", value="Check")


  #description
    .left
      h3 Check cache manifest files for web application offline storage

      p
        | The most complete method is to upload the manifest file to your server and validate it by
        | URI. This will also check the availability of all resources listed in your manifest – if
        | even one of them fails to download properly, the entire process of caching your offline
        | web application will fail.

      p
        | To learn more about offline web applications and cache manifest files, check the following resources:

      ul
        li
          a(href="http://diveintohtml5.org/offline.html") Let’s Take This Offline
        li
          a(href="http://developer.mozilla.org/En/Offline_resources_in_Firefox#The_cache_manifest") MDN: Offline resources in Firefox
        li
          a(href="http://www.w3.org/html/wg/drafts/html/CR/browsers.html#offline") W3C Specification (Editor’s Draft)
        li
          a(href="http://www.whatwg.org/specs/web-apps/current-work/multipage/offline.html#offline") WHATWG Specification
        li
          a(href="http://alistapart.com/article/application-cache-is-a-douchebag") A List Apart: Application Cache is a Douchebag

    .right
      h3 API
      p
        | This validation service can also be used by external tools. Either provide an URI to your
        | manifest or the file's content as a string (GET and POST are supported for calling).
        | The API either returns a JSON string or a JavaScript function for
        | <a href="http://en.wikipedia.org/wiki/JSON#JSONP">JSONP</a>,
        | when you provide the optional callback parameter.

      p
        | Try out the interactive <a href="#{_api.docs}">Cache Manifest Validator API documentation</a>.
